last.tab=/home/bradensteffaniak/Desktop/ArrowIDE/changelog.txt
window.x=0
workspace.location=/home/bradensteffaniak/Desktop/Workspace
window.y=30
dialog.location=/home/bradensteffaniak/Desktop/ArrowIDE/
window.fullscreen=false
window.maximized=true
jdk.location=
last.tabs=/home/bradensteffaniak/Desktop/ArrowIDE/changelog.txt 1823 1823 141;
window.custom=true
window.width=1120
monitor.height=1050
monitor.width=1680
window.height=700
workspace.location.relative=/home/bradensteffaniak/Desktop/Workspace