last.tab=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/changelog.txt
window.x=573
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace
window.y=140
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/res/languages/
window.fullscreen=false
window.maximized=false
jdk.location=
last.tabs=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/changelog.txt 288 288 110;C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/res/languages/glsl.xml 22 59 0;C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/res/languages/text.xml 58 58 0;C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/res/languages/xml.xml 57 57 0;
window.custom=true
window.width=1004
monitor.height=1080
monitor.width=1920
window.height=720
workspace.location.relative=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace