last.tab=/home/bradensteffaniak/Desktop/ArrowIDE/src/net/foxycorndog/arrowide/ArrowIDE.java
window.x=290
workspace.location=/home/bradensteffaniak/Desktop/ArrowIDE
window.y=176
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowIDE/res/languages/
window.fullscreen=false
window.maximized=false
jdk.location=
last.tabs=/home/bradensteffaniak/Desktop/ArrowIDE/src/net/foxycorndog/arrowide/ArrowIDE.java 638 638 0;/home/bradensteffaniak/Desktop/ArrowIDE/res/languages/java.xml 0 0 235;
window.custom=true
window.width=1120
monitor.height=1050
monitor.width=1680
window.height=700
workspace.location.relative=/home/bradensteffaniak/Desktop/ArrowIDE